a:hover {
  color: #fcf75e;
}

.react-calendar {
  width: 600px !important;
  height: 500px !important;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  /* box-shadow: 0 16px 16px grey; */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin-left: 30%;
  /* margin-right: 20%; */
  margin-top: 50px;
}
.react-calendar__navigation button {
  color: #1d3557;
  font-weight: 700;
  min-width: 44px;
  background: none;
  font-size: 28px;
  margin-top: 8px;
}

.react-calendar__tile {
  max-width: 100%;
  height: 65px !important;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
